h1 {
    font-size: 5em;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.vcenter  {
    display: inline-block;
        vertical-align: middle;
            float: none;
}
h2 {
    font-size: 4em;
    color: #e60000;
}
h3 {
    font-size: 3.5em;
}
#skills h3 {
    font-size: 2em;
    margin-top: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
.text-center {
    text-align: center;
}

main {
    margin: 20px;
}
#work-exp article {
    text-align: left;
}
.list-circle {
    list-style-type: circle;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    border-color: #6699ff;
}

body {
    font-size: 0.5em;
}

.page-bottom {
    page-break-after: always;
}

.no-page-break {
    page-break-inside:avoid;
}
